@font-face {
  font-family: 'Neue Montreal';
  src: url('font/NeueMontreal-Medium.woff') format('woff');
}

body {
  background-color: #F8F6F2;
}

.column {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
  margin: 3% 0 0 3%;
}

.row {
  text-align: center;
}

div {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 35px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}