@font-face {
  font-family: 'Neue Montreal';
  src: url('font/NeueMontreal-Medium.woff') format('woff');
}

body {
  background-color: #F8F6F2;
}

.column {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 1%;
  text-align: left;
}

.row {
  text-align: center;
}

div {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1vw;
  margin: 5% 5% 0% 5%
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

